.contact-us-page-container{
    padding: 225px 95px 100px;
    @media (max-width:1023px) {
        padding: 170px 20px 70px; 
     }
     @media  (min-width: 600px) and (max-width:1023px) {
        padding: 170px 60px 70px;
    }
     @media (min-width: 1024px) and (max-width: 1250px) {
         padding: 225px 50px 100px;
     }
     @media (min-width: 1550px) and (max-width: 2099px) {
         padding: 225px 100px;
     }
     @media (min-width: 2100px) {
         padding: 225px;
     }

    .page-title{
        text-align: right;
        width: 55%;
        @media (max-width: 1023px) {
            width: 80%;
            font-size: 28px;
        }
        @media (min-width: 600px) and (max-width:1023px) {
            width: 50%;
        }
        @media (min-width: 1024px) and (max-width: 1250px) {
           width: 60%;
        }
        @media (min-width: 2100px) {
            width: 35%;
         }
        span{
            padding-left: 30px;
            padding-right: 0;
        }
    }
    .contact-us-content{
        display: flex;
        flex-wrap: wrap;
        margin-top: 55px;
        @media (max-width: 1023px) {
            flex-direction: column;
            flex-wrap: nowrap;
            margin-top: 0;
        }
        & .contact-us-info{
            width: 48%;
            padding-right: 50px;
            padding-top: 46px;
            @media (max-width: 1023px) {
                width: 100%;
                padding-right: 0;
            }

            @media (min-width: 1024px) and (max-width: 1250px) {
                width: 45%;
            }
            & .info-block{
                margin-bottom: 55px;
                @media (max-width: 1023px) {
                    margin-bottom: 25px;
                }
                & .map{
                    margin-top: 25px;
                    @media (max-width: 1023px) {
                        height: 250px;
                    }
                }
                & .info-title{
                    color: $lightBlue;
                    font-size: 21px;
                    font-weight: 500;
                    letter-spacing: 1px;
                    margin-bottom: 16px;
                    @media (max-width: 1023px) {
                        font-size: 18px;
                        letter-spacing: 0.5px;
                    }
                }
                & .office{
                    margin-bottom: 16px;
                }
                & .office-name, .office-link, .number, .email-address{
                    font-size: 19px;
                    letter-spacing: 1px;
                    font-weight: 400;
                    @media (max-width: 1023px) {
                        font-size: 16px;
                    }
                }
                & .office-name{
                    color: $black2;
                    margin-bottom: 5px;
                }
                & .office-link{
                    color: $azure;
                    text-decoration: underline;
                }
                & .number{
                    display: block;
                }
                & .number, .email-address{
                    color: $black2;
                }
            }
        }
        & .contact-us-form{
            width: 52%;
            padding: 48px;
            background-color: white;
            align-self: baseline;
            @media (max-width: 1023px) {
                width: 100%;
                // padding: 24px;
                // padding: 12px;
                padding: 0;
                margin-top: 25px;
            }
            @media  (min-width: 600px) and (max-width:1023px) {
                padding: 24px;
            }
            @media (min-width: 1024px) and (max-width: 1250px) {
                width: 55%;
            }
            & .form-container{
                padding: 48px;
                border: 2px solid $lightBlue;
                text-align: center;
                @media (max-width: 1023px) {
                    padding: 24px;
                    // padding: 12px;
                }
                & .form-title{
                    text-align: center;
                    color: $lightBlue;
                    font-weight: 500;
                    font-size: 24px;
                    letter-spacing: 1.13px;
                    @media (max-width: 1023px) {
                        font-size: 20px;
                        letter-spacing: 0.5px;
                    }
                    & hr{
                        width: 10%;
                        margin: 0 auto;
                        margin-top: 16px;
                        border-width: 2px;
                        border-color: $lightBlue;
                    }
                }
                .gform_confirmation_message{
                    font-weight: 500;
                    color: $black3;
                    letter-spacing: 0.5px;
                }
                & .gform_wrapper{
                    & .validation_error{
                        display: none;
                    }
                    & .gform_heading{
                        text-align: center;
                        color: $black3;
                        & .gform_description{
                            width: 100%;
                            margin: 0;
                        }
                        & .subtitle{
                            font-size: 24px;
                            letter-spacing: 1.13px;
                            @media (max-width: 1023px) {
                                font-size: 20px;
                                letter-spacing: 0.5px;
                            }
                        }
                        & p:not(.subtitle){
                            font-size: 18px;
                            line-height: 32px;
                            letter-spacing: 0.8px;
                            @media (max-width: 1023px) {
                                font-size: 16px;
                                letter-spacing: 0.5px;
                                line-height: unset;
                            }
                        }
                    }
                    & .gform_body{
                        margin-top: 32px;
                        & .gfield{
                            margin-bottom: 32px;
                            & label{
                                display: none;
                            }
                            & .select2-container{
                                width: 100% !important;
                                height: 56px;
                                & .selection{
                                    margin-bottom: 0;
                                    height: 100%;
                                }
                                & .select2-selection--single{
                                
                                    border: 1px solid $black3;
                                    text-indent: 1rem;
                                    font-weight: 500;
                                    color: $black3;
                                    letter-spacing: 0.8px;
                                    font-size: 18px !important;
                                    border-radius: 0;
                                    height: 100%;
                                    display: flex;
                                    justify-content:space-between;
                                    align-items: center;
                                    padding-right: 0.2rem;
                                    &:focus{
                                        
                                        border-color: $lightBlue;
                                        border-width: 2px;
                                        outline: 1px solid $lightBlue;
                                        outline: 0;
                                    }
                                    @media (max-width: 1023px) {
                                        font-size: 14px !important;
                                        letter-spacing: 0.5px;
                                    }
                                    @media (min-width: 1024px) and (max-width: 1250px) {
                                        font-size: 15px !important;
                                    }
                                  & .select2-selection__rendered{
                                   
                                    height: 100%;
                                    display: flex;
                                    align-items: center;
                                    letter-spacing: 0.8px;
                                    margin: 0;
                                  }
                      
                                  & .select2-selection__arrow{
                                    & b{
                                      border: none;
                                      margin: 0;
                                      left: -25px;
                                      top: 55%;
                                      color: $black3;
                                    }
                                    & b::after{
                                      content: '\e800';
                                      font-family: 'fontello';
                                      color: $black3;
                                    }
                                  }
                                  &[aria-expanded="true"]{
                                    & .select2-selection__arrow{
                                      & b::after{
                                        content: '\e803';
                                        transform: rotate(180deg);
                                        font-family: 'fontello';
                                        color: $black3;
                                      }
                                    }
                                  }
                                }
                                
                              }

                            & input, select{
                                width: 100% !important;
                                border: 1px solid $black3;
                                text-indent: 1rem;
                                font-weight: 500;
                                color: $black3;
                                letter-spacing: 0.8px;
                                font-size: 18px !important;
                                margin-bottom: 0;
                                @media (max-width: 1023px) {
                                    font-size: 14px !important;
                                    letter-spacing: 0.5px;
                                }
                                @media (min-width: 1024px) and (max-width: 1250px) {
                                    font-size: 15px !important;
                                }
                            }
                            & select{
                                display: none;
                                background-position: right 1rem center;
                                height: 56px;
                                background-image: url('../../assets/images/down-arrow.svg');
                                background-size: 24px 14px;
                                padding-right: 0.5rem;
                                box-shadow: none;
                                margin-bottom: 0;
                                @media (max-width: 1023px) {
                                    background-position: right 0.5rem center;
                                    background-size: 16px 7px;
                                }
                                @media (min-width: 1024px) and (max-width: 1250px) {
                                    background-size: 16px 7px;
                                }   
                            }
                            & input{
                                box-shadow: none;
                                height: 46px;
                                &::placeholder{
                                    font-weight: 500;
                                    color: $black3;
                                    letter-spacing: 0.8px;
                                    font-size: 18px !important;
                                    @media (max-width: 1023px) {
                                        font-size: 14px !important;
                                        letter-spacing: 0.5px;
                                    }
                                    @media (min-width: 1024px) and (max-width: 1250px) {
                                        font-size: 15px !important;
                                    }
                                }
                                &:focus{
                                    border-color: $lightBlue;
                                    border-width: 2px;
                                }
                            }
                        }
                        & .gfield_error{
                            background-color: transparent;
                            padding: 0;
                            border: none;
                            & .select2-container{
                                & .select2-selection--single{
                                    &:focus{
                                        border-color: $lightBlue;
                                        border-width: 2px;
                                        outline: 1px solid $lightBlue;
                                        outline: 0;   
                                    }
                                }
                            }
                            & input{
                                border-color: $black3 !important;
                                &:focus{
                                    border-color: $lightBlue !important;
                                    border-width: 2px !important;
                                }
                            }
                        }
                    }
                    & .gform_footer{
                        text-align: center;
                        .gform_button{
                            opacity: 0;
                            position: relative;
                            z-index: -1;
                            @media (max-width:1023px) {
                                height: 20px;
                            }
                        }
                    }
                }
                & .submit-form{
                    color: $lightBlue;
                    cursor: pointer;
                    margin-top: -30px;
                    &:focus{
                        outline: 1px solid;
                    }
                    &::before{
                        background-color: $lightBlue;
                    }
                    &:hover{
                        color: $white2;
                        border-color: $lightBlue;
                        @media (max-width:1023px) {
                            color: $lightBlue;
                        }
                    }
                }
            }
        }
    }
}

.select2-dropdown{
    overflow: hidden !important;
    // border-color: $black3;
    border-color: $lightBlue;
    border-width: 2px;
    border-radius: 0;
  }

.select2-results{
    // background-color: #d8d8d8;
    color: $black3;
    // font-family: CB;
    font-weight: 400;
    letter-spacing: 0.8px;
    & .select2-results__option {
      // padding: 1rem;
      border-bottom: 1px solid $lightBlue;
      // margin: 1rem;
      margin: 0.5rem 1rem;
    }
    & .select2-results__option--selected{
        background-color: $lightBlue;
        color: $white2;
    }
    & .select2-results__option--highlighted.select2-results__option--selectable.select2-results__option--selected{
        background-color: $lightBlue;
        color: $white2;
    }
    & .select2-results__option--highlighted.select2-results__option--selectable{
        background-color: $white2;
        color: $black3;
    }
    & .select2-results__options{
      overflow-x: hidden !important;
    }
  }
   .select2-search--dropdown{
    display: none !important;
  }