.rtl{
    .banner-slider{
        .banner-slide{
            padding-right: 200px;
            padding-left: 0;
            @media (max-width: 1023px) {
                padding: 48px;
            }
        }
        // .slick-dots{
        //     left: unset;
        //     right: 190px;
        // }
    }

    .section {
        .title, .title2{
            letter-spacing: 1px;
        }
    }
    

    .about{
        .about-title{
                text-align: left;
                & span{
                    padding: 0;
                    padding-right: 25px;
                }
        }
    }
    .swimming-pools{
        .products-title{
            text-align: left;
            & span{
                padding: 0;
                padding-right: 40px;
                @media (max-width: 1023px) {
                    padding-right: 20px;
                }
            }
        }

        & .title2{
            & span{
                padding: 0;
                padding-left: 20px;
            }
        }
        .ranges, .ranges-title{
            letter-spacing: 0.5px;
        }

        & .swimming-pools-image{
            text-align: left;
        }
    }
    .jacuzzis{
        & .title2{
            text-align: left;
            & span{
                padding: 0;
                padding-right: 55px;
                @media (max-width: 1023px) {
                    padding-right: 20px;
                }
            }
        }

        & .jacuzzis-image{
            text-align: right;
        }
    }
    .saunas{
        & .title2{
            & span{
                padding: 0;
                padding-left: 25px;
            }
        }
        & .saunas-image{
            text-align: left;
        }
    }
}