.products-page-container{
    padding: 225px 50px;

    & .page-title{
        text-align: right;
        width: 50%;
        & span{
            padding: 0;
            padding-left: 30px;
        }
    }
}