.search-results, .search-no-results{
    & .main-container{
        padding: 200px 50px 50px;
        max-width: unset;
        margin: 0;
        @media (max-width: 1023px) {
            padding: 100px 50px 50px;
        }
        & .main-content{
            width: 100%;
        }
    }
}