.single-product-page-container{
    padding: 225px 130px;
    padding-bottom: 100px;

    @media (max-width:1023px) {
        padding: 170px 20px 70px; 
    }
    @media (min-width: 1024px) and (max-width: 1250px) {
       padding: 225px 80px;
    }
    @media (min-width: 1550px) and (max-width: 1899px) {
        padding: 225px 180px;
    }
    @media (min-width: 1900px) {
        padding: 225px;
    }
    & .title{
        width: 60%;
        @media (min-width: 1900px) {
            width: 45%;
        }
    }
    .page-title{
        font-size: 70px;
        text-align: right;
        @media (max-width:1023px) {
            font-size: 28px;
            letter-spacing: 2.5px;
            width: 80%;
            margin-bottom: 20px;
        }
        @media (min-width: 600px) and (max-width:1023px) {
            width: 50%;
        }
        & span{
            padding: 0;
            padding-left: 30px;
            @media (max-width:1023px) {
                padding-left: 20px;
             }
        }
    }
    .page-subtitle{
        font-size: 40px;
        text-transform: uppercase;
        line-height: 102px;
        letter-spacing: 5.5px;
        @media (max-width:1023px) {
            font-size: 16px;
            letter-spacing: 1.4px;
            line-height: 32px;
            width: 80%;
        }
        @media (min-width: 600px) and (max-width:1023px) {
            width: 50%;
        }
        &::after{
            height: 1.2em;
            @media (max-width:1023px) {
                height: 1em;
            }
        }
        & span{
            padding: 0;
            padding-right: 30px;
        }
        &.lightBlue{
            color: $lightBlue;
        }
        &.azure{
            color: $azure;
        }
        &.olive{
            color: $olive;
        }
        &.green{
            color: $green;
        }
    }
    & .go-back{
        color: black;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.33px;
        display: inline-block;
        margin-top: 47px;
        margin-bottom: 77px;
        @media (max-width:1023px) {
            font-size: 13px;
        }
        & i{
            border: 2px solid;
            border-radius: 50%;
            padding: 1px;
            margin-right: 20px;
            @media (max-width:1023px) {
                margin-right: 15px;
            }
            &::before{
                font-weight: 900;
            }
        }
    }
    .product-featured-image{
        position: relative;
        height: 785px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        @media (max-width:1023px) {
            margin: 0 20px;
            height: 195px;
        }
        @media (min-width: 600px) and (max-width:1023px) {
            height: 495px;
        }
        @media (min-width: 1900px) {
            height: 1200px;
        }
        .overlay{
            background-color: $white2;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            right: 0;
            transition: width 1s linear;
            transition-delay: 1s;
            &.animateImg{
                width: 0;
            }
        }
        // & img{
        //     width: 100%;
        // }
    }
    .product-content{
        display: flex;
        flex-wrap: wrap;
        margin-top: 144px;
        @media (max-width:1023px) {
            padding: 0 20px;
            flex-direction: column;
            flex-wrap: nowrap;
            margin-top: 50px;
        }
        & .product-description, & .product-variations{
            flex: 1;
            @media (max-width:1023px) {
                flex: unset;
            }
        }
        & .product-description-inner{
            width: 80%;
            @media (max-width:1023px) {
                width: 100%;
            }
            & h3{
                font-weight: 500;
                font-size: 32px;
                letter-spacing: 0.67px;
                margin-bottom: 23px;
                @media (max-width:1023px) {
                   font-size: 17px;
                }
                &.lightBlue{
                    color: $lightBlue;
                }
                &.azure{
                    color: $azure;
                }
                &.olive{
                    color: $olive;
                }
                &.green{
                    color: $green;
                }
            }
            & .description p{
                font-weight: 400;
                font-size: 16px;
                text-align: justify;
                line-height: 32px;
                letter-spacing: 1.4px;
                color: $black2;
                @media (max-width:1023px) {
                    font-size: 13px;
                    letter-spacing: 0.5px;
                    line-height: 20px;
                }
            }
            & .cta-button{
                margin-top: 70px;
                @media (max-width:1023px) {
                    margin-top: 30px;
                }
                &.lightBlue{
                    color: $lightBlue;

                    &::before{
                        background-color: $lightBlue;
                    }
                    &:hover{
                        color: $white2;
                        border-color: $lightBlue;
                        @media (max-width:1023px) {
                            color: $lightBlue;
                        }
                    }
                }
                &.azure{
                    color: $azure;

                    &::before{
                        background-color: $azure;
                    }
                    &:hover{
                        color: $white2;
                        border-color: $azure;
                        @media (max-width:1023px) {
                            color: $azure;
                        }
                    }
                }
                &.olive{
                    color: $olive;

                    &::before{
                        background-color: $olive;
                    }
                    &:hover{
                        color: $white2;
                        border-color: $olive;
                        @media (max-width:1023px) {
                            color: $olive;
                        }
                    }
                }
                &.green{
                    color: $green;

                    &::before{
                        background-color: $green;
                    }
                    &:hover{
                        color: $white2;
                        border-color: $green;
                        @media (max-width:1023px) {
                            color: $green;
                        }
                    }
                }
            }
        }
        .product-variations-inner{
            float: right;
            width: fit-content;
            max-width: 80%;
            @media (max-width:1023px) {
                max-width: unset;
                margin-top: 60px;
                float: none;
            }
            & ol{
                list-style: none;
                counter-reset: my-awesome-counter;
                // @media (max-width:1023px) {
                //     margin: 0;
                // }
                & .variation{
                    counter-increment: my-awesome-counter;
                    display: flex;
                    margin-bottom: 70px;
                    position: relative;
                    @media (max-width:1023px) {
                        margin-bottom: 50px;
                    }
                    &:last-of-type{
                        margin-bottom: 0;
                    }
                    &::before{
                        content: counter(my-awesome-counter);
                        font-weight: 700;
                        font-size: 70px;
                        // margin-right: 50px;
                        position: absolute;
                        top: 0;
                        left: -70px;
                        line-height: 1;
                        @media (max-width:1023px) {
                            position: static;
                            margin-right: 35px;
                            font-size: 42px;
                        }
                    }
                    &.lightBlue{
                        &::before{
                            color: $lightBlue;
                        }
                    }
                    &.azure{
                        &::before{
                            color: $azure;
                        }
                    }
                    &.olive{
                        &::before{
                            color: $olive;
                        }
                    }
                    &.green{
                        &::before{
                            color: $green;
                        }
                    }

                    & .variation-name{
                        font-weight: 500;
                        font-size: 22px;
                        line-height: 32px;
                        letter-spacing: 1.9px;
                        color: $black2;
                        @media (max-width:1023px) {
                            font-size: 15px;
                            letter-spacing: 0.7px;
                        }
                    }
                    & .variation-description p{
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 32px;
                        letter-spacing: 1.4px;
                        color: $black2;
                        @media (max-width:1023px) {
                            font-size: 13px;
                            letter-spacing: 0.5px;
                            line-height: 25px;
                        }
                    }
                }
            }
        }
    }   
}