.footer-container {
  @include xy-grid-container;
  border-top: 1px solid $medium-gray;
  margin-top: rem-calc(60);
}

.footer-grid {
  @include xy-grid;
  padding: rem-calc(30) 0;

  section {
    @include xy-cell();
    @include breakpoint(large) {
      @include xy-cell(auto);
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}


.footer-container{
  margin: 0;
  max-width: unset;
  border:none;
  padding: 50px;
  padding-top: 70px;
  background-image: url(../../assets/images/footer-background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media (min-width: 1024px) and (max-width: 1340px) {
    padding: 50px 25px;
    padding-top: 70px;
  }
}
.footer-grid{
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  & .footer-start{
    // flex: 1;
    padding: 0 5px;
    width: 15%;
  }
  & .footer-end{
    // flex: 5;
    display: flex;
    flex-direction: column;
    padding: 0 5px;
    // padding-left: 55px;
    width: 85%;
    section{
      flex: unset;
      display: inline-block;
      vertical-align: top;
    }
  }

  .logo{
    max-width: 170px;
    max-height: 170px;
    @media (min-width: 1024px) and (max-width: 1340px) {
      max-width: 125px;
      max-height: 125px;
    }
  }
}

.footer-end-upper{
  // display: flex;
  // justify-content: space-between;
  .slogan{
    max-width: 220px;
    width: auto;
    display: inline-block;
    vertical-align: top;
    @media (min-width: 1024px) and (max-width: 1340px) {
      max-width: 160px;
    }
  }
  .slogan h2{
    font-size: 32px;
    letter-spacing: 0.75px;
    line-height: 48px;
    margin-bottom: 25px;
    @media (min-width: 1024px) and (max-width: 1340px) {
      font-size: 25px;
      line-height: 35px;
    }
  }
  .slogan .cta-button{
    color: black;
  }
  .menu .current-menu-item a{
    background: none;
  }
  .menu .menu-item.menu-item-has-children a, .contact-info .contact-title{
      font-size: 18px;
      font-weight: 700;
      color: black;
      letter-spacing: 1.9px;
      text-transform: uppercase;
  }
  .menu .menu-item.menu-item-has-children {
    max-width: unset;
    @media (min-width: 1024px) and (max-width: 1100px) {
      max-width: 204px;
    }
    @media (min-width: 1101px) and (max-width: 1250px) {
      max-width: 230px;
    }
    @media (min-width: 1250px) and (max-width: 1340px) {
      max-width: 280px;
    }

  }
  .menu .menu-item.menu-item-has-children:nth-of-type(3) .sub-menu .menu-item a{
    text-transform: none;
  }
  .menu .sub-menu .menu-item a, .contact-info a{
    font-weight: 300;
    color: black;
    font-size: 16px;
    letter-spacing: 1.7px;
  }
  // .contact-info{
  //   margin-top: 5.5px;
  //   @media (min-width: 1024px) and (max-width: 1340px) {
  //     max-width: 165px;
  //   }
  // }
  .menu .sub-menu .menu-item a .sm, .contact-info a .sm{
    display: none;
    @media (min-width: 1024px) and (max-width: 1340px) {
      // display: inline-block;
    }
  }
  .contact-info{
    display: inline-block;
    display: none;
    vertical-align: top; 
  }
  .social-media {
    height: 100%;
    // display: flex;
    display: inline-flex;
    vertical-align: top;
    float: right;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
      a{
        color: black;
      }
  }
}
.footer-end-lower{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 45px;
   .partners{
     a:first-of-type{
       margin-right: 40px;
     }
   }
   .copyright{
     letter-spacing: 1.7px;
     font-weight: 400;
   }
}




/////// footer arabic///////

.rtl{

  .footer-end-upper{
    .menu .menu-item.menu-item-has-children a, .contact-info .contact-title{
      letter-spacing: 0.5px;
    }
    & .social-media{
      float: left;
    }
    & .contact-info p:last-of-type{
      direction: ltr;
      text-align: right;
    }
  }

  .footer-end-lower{
     .partners{
       a:first-of-type{
         margin: 0;
         margin-left: 40px;
       }
     }
  }

}
