// Navigation breakpoints
.mobile-menu,
.site-title-bar {
  @include hide-for(medium);
}
//
.desktop-menu,
.site-navigation .top-bar-left {
  @include show-for(medium);
}

// Site title
.site-desktop-title a {
  font-weight: bold;
}

// WP post navigation
.post-navigation {
  @include clearfix;
}

.nav-previous {
  float:left;
}

.nav-next {
  float:right;
}

.top-bar.scrolled{
  background-color: $white2;
  padding: 10px 50px;
  box-shadow: 0px 0px 21px 0px #0000004d;
  transition: all 0.5s;
  & .top-bar-left .logo{
    width: 75px;
    height: 75px;
  }
  .dropdown.menu > li > a, .dropdown.menu > li.is-active > a, .wpml-ls-item a{
    color: $black2;
  }
  .wpml-ls ul li:first-of-type:not(:last-of-type){ 
    border-right: 1px solid $black2;
  }
}
.rtl .top-bar.scrolled{
  .wpml-ls ul li:first-of-type:not(:last-of-type){
    border-right: none;
    border-left: 1px solid $black2;

  }
}

.top-bar{
  background-color: transparent;
  // padding: 50px;
  padding: 20px 50px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  box-shadow: none;
  @media (min-width: 1024px) and (max-width: 1340px) {
    padding: 20px 25px;
  }
  @media (max-width:1024px) {
    flex-direction: column;
    align-items: flex-start;
  }
}
.top-bar-left .logo{
  width: 125px;
  height: 125px;
  transition: all 0.5s;
  @media (min-width: 1024px) and (max-width: 1340px) {
    width: 100px;
    height: 100px;
  }
}
.top-bar ul{
  background-color: transparent;
}
.top-bar .top-bar-left, .top-bar .top-bar-right{
  margin: 0;
  flex: unset;
}
.dropdown.menu > li > a{
  font-weight: 400;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 15.4px;
  padding: 0.7rem 2rem;
  @media (min-width: 1024px) and (max-width: 1340px) {
    padding: 0.7rem 1rem;
  }
}
.dropdown.menu > li.is-active > a{
  color: white;
  font-weight: 700;
}

.wpml-ls ul li:first-of-type:not(:last-of-type){
  border-right: 1px solid white;
}
.rtl .wpml-ls ul li:first-of-type:not(:last-of-type){
  border-right: none;
  border-left: 1px solid white;
}

.wpml-ls-item a{
  font-weight: 400;
  color: white;
  letter-spacing: 1.7px;
  text-transform: uppercase;
  padding: 0 10px;
}
.wpml-ls-item.wpml-ls-current-language a{
  font-weight: 700;
}